<div class="container" [class.is-mobile]="(isXSmall$ | async)" [style.marginTop.px]="(isXSmall$ | async) ? 0 : 65">
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="(isXSmall$ | async) ? 56 : 0" (backdropClick)="nextCount()">
        <mat-sidenav #sidenav [mode]="(isXSmall$ | async) ? 'over' : (isSmall$ | async) ? 'over' : 'side'" [fixedInViewport]="(isXSmall$ | async)"
            fixedTopGap="56" [(opened)]="opened">
            <mat-nav-list>
                <button mat-button (click)="sidenav.toggle(); nextCount()">Toggle</button>
                <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>