<mat-toolbar color="primary">Web Page</mat-toolbar>
<div class="grid-container">
    <mat-grid-list rowHeight="2:1" [cols]="(isHandset$ | async) ? 1 : (isTablet$ | async) ? 2 : 4">
        <mat-grid-tile>
            <div>
                <h1 class="mat-display-1">Hello, world!</h1>
                <div >
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Voluptate fugiat expedita minus aspernatur quasi,
                    voluptatum esse eligendi nisi harum dicta iure omnis incidunt!
                    In officia quod expedita labore nisi porro!
                </div>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div class="mat-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Voluptate fugiat expedita minus aspernatur quasi,
                    voluptatum esse eligendi nisi harum dicta iure omnis incidunt!
                    In officia quod expedita labore nisi porro!
                </div>

            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Card
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>Card Content Here</div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Card
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>Card Content Here</div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>Title 4</mat-grid-tile>
        <mat-grid-tile>Title 5</mat-grid-tile>
        <mat-grid-tile>Title 6</mat-grid-tile>
        <mat-grid-tile>Title 7</mat-grid-tile>
        <mat-grid-tile>Title 8</mat-grid-tile>

    </mat-grid-list>
</div>