<div class="header-container" [class.is-mobile]="(isHandset$ | async)">
    <mat-toolbar color="primary" class="toolbar mat-elevation-z4">
        <button mat-icon-button class="icon-animated" role="heading" aria-label="icon-button with menu icon"
            (click)='nextCount(); rotateIcon = !rotateIcon' [ngClass]="{'rotated' : rotateIcon}">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-button routerLink="/">{{title}}</button>
        <button mat-button routerLink="/products">Products</button>
        <button mat-button routerLink="/form">Services</button>
        <button mat-button routerLink="/dashboardsuper">Orders</button>
        <span class="spacer"></span>
        <button mat-button routerLink="/cart"><mat-icon [matBadge]="cartItemsCount"
                [matBadgeHidden]="cartItemsCount === 0" matBadgeColor="accent"
                matBadgeSize="medium">shopping_cart</mat-icon></button>
        <!-- <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
            <a mat-button routerLink="/signin" routerLinkActive="active">SignIn</a>
            <a mat-button routerLink="/signup" routerLinkActive="active">SignUp</a>
        </ng-container> -->
        <ng-template #loggedIn>
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
            <mat-menu #menu="matMenu" xPosition="before">
                <!-- <button mat-menu-item routerLink="/profile">{{this.authService.getUser()}}</button> -->
                <mat-divider></mat-divider>
                <button mat-menu-item routerLink="/profile">Profile</button>
                <button mat-menu-item routerLink="/dashboard">Dashboard</button>
                <!-- <button mat-menu-item color="accent" (click)="authService.logOut()">Logout</button> -->
            </mat-menu>
        </ng-template>
    </mat-toolbar>
</div>